
.todo{
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
    background-image: url('/public/consultorio.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;

}